* {
	box-sizing: border-box;
	margin: 0;
	font-family:'Impact';
}
body {
	margin: 30px;
}
h1 {
	margin: 100px;
	text-align: center;
	font-size:200%%;
}

section {
	font-size: 22px;
	background-color: #F4A460;
	border: 1px solid black;
	text-align: center;
	margin: 10px;
}
header{
	width: 180px;
	border-left: 1px solid black;
	border-bottom: 1px solid #000000;
	float: right;
}

p {
	padding: 15px;
	clear: both;
	
}
#one > header {
	background-color: #83BD93;
}

#two > header {
	background-color: #F94D59;
}

#three > header {
	background-color: #6D7BD1;
}

@media (min-width: 992px){
	.container {
		display: flex;	
	}
}

@media (min-width: 767px) and (max-width: 991px){
	.container {
		display: grid;	
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1 fr;
	}
	#three {
		grid-column: 1/3;
	}
}
@media (max-width: 766px;{

}