* {
	box-sizing: border-box;
}

html, body{
	margin: 0;
	width: 100%;
}
main {
	margin-bottom: 100px;
}

header {
	display: inline-grid;
	width: 100%;
	height: 90px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
} 

h1 {
	font-size: 50px;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 35px;
	color: #464646;
	margin-bottom: auto;
	margin-top: auto;
}

h3 {
	margin-bottom: 5px;
}

textarea::placeholder {
  color: #757575;
}

.logo{
	margin: auto;
	margin-left: 35% ;
}

.logo:hover {
	cursor: pointer;
}

.search-container{
	display: flex;
	width: 100%;
	height: 35px;
	background-color: #f5f5f5;
	justify-content: space-between;
	align-items: center;
	border-radius:20px ;
	margin-top: auto;
	margin-bottom: auto;
}

.search_input {
	text-indent: 10px;
	background-color: transparent;
	border: none;
	width: 80%;
	line-height: 30px;
	color: #464646;
}
.search_input:focus {
	outline: 0;
	box-shadow: 0 0 0 0;
}

.lupa {
	margin-right: 10px;
}

#login{
	grid-column: 4/5;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #2a7ae4;
	color: #2a7ae4;
	width: 150px;
	height: 50%;
	font-size: 17px;
	margin: auto;
}

#login:hover {
	background-color: #B1CCEE;
}
#login:active {
	background-color: #75B4F5;
}

.comum_btn {
	background-color: #2a7ae4;
	border-style: solid;
	border-color: #2a7ae4;
	color: white;
	width: 160px;
	height: 50px;
	font-size: 15px;
	padding:10px ;
}

.comum_btn:hover {
	background-color: #313AFF;
	border-color: #313AFF
}

.comum_btn:active {
	background-color: #0D14A5;
	border-color: #0D14A5
}

.banner{
	background: url('https://trello.com/1/cards/620bf3f8bf76ff71199adc86/attachments/620bf3f9bf76ff71199ade5c/download/banner-image.png');	
	width: 100%;
	height: 352px;
	color: white;
	display: grid;
	grid-template-rows: 2fr 1fr 1fr;
	font-weight: bold;
}

.conteudo_banner {
	grid-row: 2/3;
	margin-left: 8%;
	font-family: Helvetica;
	font-size: 120%;
}
footer{
	margin-top: 50px;
	display: flex;
	height: 250px;
	width: 100%;
	background-color: #eaf2fd;
	height: 350px ; 
	font-family: 'helvetica';

}

form{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height:  280px;
	color: #464646;
	margin-top: 25px;
}

li {
  list-style-type: none;
  color: #535454;
  margin-bottom: 24px;
}
.produtos {
	width: 85%;
	margin-left: 8%;
}

.products_container	{
	display: flex;
	font-family: Helvetica;
	justify-content: space-between;
	align-content: space-evenly;
	height: 300px;
}
 
 
.product_images {
	width: 180px;
	height: 180px;
}

.banner_subconteudo{
	margin-top: 10px;
}

.row_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}
.submain_container {
	margin-top: 70px;
	height: 300px;
}

.product_name {
	font-size: 14px;
	color: #4e4e4e;
	font-weight: 500;
}

.price {
	font-weight: bold;
	color: #4e4e4e;
	font-weight: bold;
}

.product_detail {
	margin: 7px 0 0 0;
}

.ver_tudo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90px;
}

div.product_detail > a{
	color: #2a7ae4;
	font-weight: bold;
	text-decoration-line: none;
  text-decoration-style: initial;
  font-family: Helvetica;
}
div.product_detail > a:hover{
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
}


@media (min-width: 1600px){

	html, body {
		width: 1500px;
		margin: auto;
	}

}

nav {
	width: 25%;
}

footer > div {
	width: 25%;
}
.logo_footer{
	margin-left: 30%;
	margin-top: 15%;
}
nav > ul {
	margin: auto;
	margin-top: 18%;
	height: 250px;

}

input.form {
	border:  none;
	
	width: 80%;
	/*box-shadow: 0px 1px 2px #464646;*/
}

input.name {
	text-indent: 6px;
	width: 100%;
	background-color: transparent;
	font-size: 16px;
	color: #464646;
	resize: none;
}
input.name:focus {
	border: none;
	outline: none;
}

.name_container {
	border-radius: 5px 5px 2px 2px;
	width: 80%;
	padding-top: 30px;
	background-color: white;
	height: 60px;
	position: relative;
	height: 60px;
	box-shadow: 0px 1px 2px #A0A0A0;
}

.name_container > label {
	color: #757575;
	position: absolute;
	left: 8px;
	bottom: 32px;
}
.message_container {
	width: 100%;
}

textarea.message {
	border-radius: 5px 5px 2px 2px;
	width: 80%;
	height: 80px;
	border: none;
	box-shadow: 0px 1px 2px #A0A0A0;
	resize: none;
	padding-top: 5px ;
	text-indent: 6px;
	font-size: 16px;
	color: #464646;
	font-family: 'Helvetica';
}

textarea.message:focus {
	outline: none
} 

.form_container {
	width: 50%;
}
ul > a {
	text-decoration-line: none
}
ul > a:hover {
	font-weight: bold;
	text-decoration-line: underline;
	text-decoration-color: #535454;
	text-decoration-thickness: 2px;
}
.ver_tudo:hover > img {
	position: relative;
	left:  8px;
	bottom: ;
}