*{
	margin: auto;
}

.banner{
	background: url('https://trello.com/1/cards/620bf3f8bf76ff71199adc86/attachments/620bf3f9bf76ff71199ade5c/download/banner-image.png');	
	width: 1440px;
	height: 352px;
	color: white;
}
.pesquisa-container{
	display: flex;
	width: 100%;
	position: relative;
}
.pesquisa{
	position: absolute;
	margin: auto;
}
.bt_submit{
	position: absolute;
	right: 0;
	top: 0;
	margin: auto;
	
}
header {
	display: inline-grid;
	width: 100%;
	height: 90px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

header > button{
	grid-column: 4/5;
	background-color: white;
	border-style: solid;
	border-color: #2a7ae4;
	color: #2a7ae4;
	width: 150px;
	height: 50%;
	font-size: 17px;
}

button:hover {
	background-color: #B1CCEE;
}
button:active {
	background-color: #75B4F5;
}

input.pesquisa {
	border-color: white;
	box-shadow: none;
	outline: white;
	background-color: #E5E3E3;
	border-style: none;
	border-radius: 15px;
	width: 100%;
	height: 30px;
	text-indent: 3%;
	color: #7C7C7C;
}

.bt_submit{
	width: 25px;
	height: 25px;
	background: transparent url('images/search-icon.jpg') no-repeat center top;
}

