* {
	box-sizing: border-box;

}

html, body{
	margin: 0;
}
.logo{
	margin: auto;
	margin-left: 20% ;
}
.logo:hover {
	cursor: pointer;
}
.search-container{
	display: flex;
	width: 100%;
	height: 35px;
	background-color: #E3E3E3;
	justify-content: space-between;
	align-items: center;
	border-radius:20px ;
	margin-top: auto;
	margin-bottom: auto;
}

.search_input {
	text-indent: 10px;
	background-color: transparent;
	border: none;
	width: 80%;
	line-height: 30px;
	color: #7C7C7C;
}
.search_input:focus {
	outline: 0;
	box-shadow: 0 0 0 0;
}
.lupa {
	margin-right: 10px;
}

header {
	display: inline-grid;
	width: 100%;
	height: 90px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#login{
	grid-column: 4/5;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #2a7ae4;
	color: #2a7ae4;
	width: 150px;
	height: 50%;
	font-size: 17px;
	margin: auto;
}

#login:hover {
	background-color: #B1CCEE;
}
#login:active {
	background-color: #75B4F5;
}

button.comum_btn {
	background-color: #2a7ae4;
	border-style: solid;
	border-color: #2a7ae4;
	color: white;
	width: 150px;
	height: 50px;
	font-size: 17px;
}

button.comum_btn:hover {
	background-color: #313AFF;
	border-color: #313AFF
}

button.comum_btn:active {
	background-color: #0D14A5;
	border-color: #0D14A5
}

.banner{
	background: url('https://trello.com/1/cards/620bf3f8bf76ff71199adc86/attachments/620bf3f9bf76ff71199ade5c/download/banner-image.png');	
	width: 1440px;
	height: 352px;
	color: white;
	display: grid;
	grid-template-rows: 2fr 1fr 1fr;
}

.conteudo_banner {
	grid-row: 2/3;
	margin-left: 5%;
	font-family: Helvetica;
	font-size: 120%;
}
footer{
	margin-top: 50px;
	display: flex;
	height: 250px;
	width: 100%;
	background-color: #eaf2fd;
}

form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 50%;
}

li {
  list-style-type: none;
  color: #535454;
}
.produtos {
	width: 85%;
	margin-left: 5%;
}

.products_container	{
	display: flex;
	font-family: Helvetica;
	justify-content: space-between;


}
 
.product_images {
	width: 165px;
	height: 165px;
}

@media (min-width: 1440px){

	html, body {
		width: 1440px;
		margin: auto;
	}

}

h2 {
	font-family: 'impact';
	font-size: 35px;
	color: #464646;
}